<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<%= link_to "Back", "/" %>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>



<% if @article.status == 'public' %>
  <p style="color:green">Is Public Article </p>
  <% else %>
  <p style="color:red">Is Not a Public Article </p>
<% end %>


<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
