

<h1><%= @article.title %></h1>  

<p><%= @article.body %></p>

<% if @article.status == 'public' %>
  <i class="bi bi-0-circle-fill" style="color:green"></i>
  <% else %>
  <i class="bi bi-0-circle-fill" style="color:red"></i>
<% end %>
<br/>
<%= link_to "Back", "/" %>


  <%= link_to "Edit", edit_article_path(@article) %>
  <%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>


<p><i class="bi bi-pen-fill"></i> <%= @article.author_full_name %> </p>


<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
