

<h1 style="padding:20px" >Title: <%= @article.title %></h1>  

<p>body:<br> <%= @article.body %></p>

<% if @article.status == 'public' %>
  <i class="bi bi-0-circle-fill" style="color:green"></i>
  <% else %>
  <i class="bi bi-0-circle-fill" style="color:red"></i>
<% end %>
<br>

<p><i class="bi bi-pen-fill"></i> <%= @article.author_full_name %> </p>

<%= link_to "Back", "/" %>
  <%= link_to "Edit", edit_article_path(@article) %>
  <%= link_to "Delete", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
<br><br>
<h4>Comments</h4>
<%= render @article.comments %>
<br>
<h5>Add a comment:</h5>
<%= render 'comments/form' %>
